@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.playfair {
  font-family: 'Playfair Display', sans-serif;
}

body  {
  background: radial-gradient(circle at 60.7% 40.3%, rgba(30, 144, 231, 0.2) 0%, rgba(56, 113, 209, 0.1) 22.9%, rgba(38, 76, 140, 0.05) 76.7%, rgba(31, 63, 116, 0.05) 100.2%);
}